// import this file if you're an application (not a component — components import main, the default export of this module)

@import
	"./main.scss",
	"./fonts.scss",
	"./animations.scss";

//Standardize on border-box (this fixes all the test harnesses)
*, *::before, *::after {
	box-sizing: border-box;
}

//Prevent UI elements from getting text selections
body {
	margin: 0;
	user-select: none;

	[contenteditable] {
		user-select: text !important;
	}
}

//force font-family on inputs
body, input, select, textarea {
	font-family: $body-font-family;
}

//Remove the blue focus rings
*:focus {
	outline: none;
}
