//These should be converted to mixins... there isn't a way for us to uses these "correctly".
//Placeholders add the exetenders' selector to the list of the rule body, but because of
//how we are structured, every placeholder is mostly duplicated ever time its used. (assuming
//its used accross projects)

%svg-icon-mask {
	mask-size: 100% 100%;
	background-color: var(--secondary-grey);
}

%icon-font {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%icon-survey {
	@extend %icon-font;

	content: "\e606";
}

%chevron {
	font-family: 'icomoon';
	content: '<';
	color: var(--primary-blue);
	font-size: 1.5em;
	vertical-align: middle;
	text-transform: none;
}

%chevron-left {
	@extend %chevron;

	position: relative;
	top: -1px;
}

%chevron-left-white {
	@extend %chevron-left;

	color: white;
}

%chevron-right {
	@extend %chevron;

	content: '>';
}

%chevron-right-white {
	@extend %chevron-right;

	color: white;
}

%chevron-up {
	@extend %chevron;

	content: '^';
}

%chevron-up-white {
	@extend %chevron-up;

	color: white;
}

%chevron-down {
	@extend %chevron;

	content: 'v';
}

%chevron-down-white {
	@extend %chevron-down;

	color: white;
}

%middot-before {
	&::before {
		@extend %middot;
	}
}

%middot-after {
	&::after {
		@extend %middot;
	}
}

%middot {
	text-decoration: none;
	position: static;
	content: '\00B7';
	padding: 0 0.5em;
	background: none;
}

%hardware-render {
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

%touch-scroll {
	backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

%interaction-disabled {
	opacity: 0.6;

	&, * {
		pointer-events: none;
		cursor: default !important;
	}
}

%dialog-buttons {
	overflow: hidden;
	position: relative;
	text-align: right;

	&::before {
		content: '';
		position: absolute;
		bottom: 40px;
		height: 300px;
		left: 0;
		right: 0;
		background-color: #f0f0f0;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
		clip: rect(300px, auto, 310px, auto);
		border-radius: 350em / 4em;
	}

	.button {
		text-transform: none;
		font-weight: 600;
		font-size: 0.9rem;
		letter-spacing: normal;
		line-height: 2.5rem;
		padding: 0 1.25rem;
		margin: 0;
		vertical-align: middle;
		text-align: center;
		min-width: 90px;

		&.cancel {
			color: var(--primary-grey);
			background: none;
			font-weight: 300;
		}

		&.primary {
			background: var(--primary-blue);
			color: white;
			box-shadow: inset 1px 0 0 0 var(--border-blue);

			html:not(.touch) &:hover {
				opacity: 0.9;
			}

			&.decline,
			&.caution {
				box-shadow: inset 1px 0 0 0 #dd4845;
			}
		}

		&.secondary {
			font-weight: 300;
			color: var(--primary-grey);

			html:not(.touch) &:hover {
				background: white;
				box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
			}

			&.declinde, &.caution {
				color: var(--primary-red);
			}
		}

		&.accept {
			background: var(--secondary-green);
		}

		&.decline,
		&.caution {
			background: var(--primary-red);
		}
	}
}

%form-fieldset {
	position: relative;
	border: 0;
	padding: 1rem 0 0;
	margin: 0 0 2rem;

	legend {
		font-size: 1rem;
		font-weight: 600;
		color: var(--primary-grey);
	}

	input {
		margin-bottom: 0.5rem !important;
	}

	& > div {
		position: relative;

		&::after {
			content: '';
			display: table;
			clear: both;
		}
	}

	.error.message {
		position: absolute;
		bottom: -0.325rem;
		left: 0.5rem;
		z-index: 10;
		background: var(--primary-red);
		font-size: 0.8rem;
		color: var(--secondary-red);
		border: 1px solid var(--secondary-red);
		padding: 0 0.25rem;
		display: block;
		margin: 0;
	}
}
