@custom-media --respond-to-smallest-handhelds (max-width: 360px);
@custom-media --respond-to-handhelds (max-width: 800px);
@custom-media --respond-to-small-screens (max-width: 900px);
@custom-media --respond-to-medium-screens (min-width: 901px) and (max-width: 1199px);
@custom-media --respond-to-wide-screens (min-width: 1200px) and (max-width: 1600px);
@custom-media --respond-to-ultra-wide-screens (min-width: 1601px);
@custom-media --respond-to-up-to-medium-screens (max-width: 1200px);
@custom-media --respond-to-up-to-wide-screens (max-width: 1600px);
@custom-media --respond-to-down-to-handhelds (min-width: 801px);
@custom-media --respond-to-short-screens (max-height: 600px);

:root {
	/* We don't currently (correctly) support user-selected font sizes, this locks the 1rem base size */
	font-size: 16px;

	--legacy-header-font-family: "Open Sans Condensed";
	--body-font-family: "Open Sans", "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
	--header-font-family: var(--body-font-family);
	--header-font-weight: 300;
	--header-font-style: normal;

	/* flip these two values for light/dark mode */
	--accent-color-overlay-inverted: 255, 255, 255;
	--accent-color-overlay: 0, 0, 0;

	/* colors */
	--primary-background: #343434;
	--secondary-background: #232323;
	--secondary-background-rgb: 35, 35, 35;
	--primary-grey: #494949;
	--secondary-grey: #757474;
	--secondary-grey-alt: #787878;
	--tertiary-grey: #b8b8b8;
	--tertiary-grey-alt: #d1d1d1;
	--quad-grey: #f8f8f8;
	--button-border: #e7e7e7;
	--button-background: #e7e7e7;
	--button-color: var(--primary-grey);
	--button-color-alt: white; /* for dark/colored backgrounds */
	--disabled-button-border: #d0d0d0;
	--disabled-button-background: rgba(184, 184, 184, 0.5);
	--disabled-button-color: rgba(255, 255, 255, 0.7);
	--primary-red: #f35252;
	--primary-red-rgb: 243, 82, 82;
	--secondary-red: #750000;
	--primary-blue: #3fb3f6;
	--primary-blue-rgb: 63, 179, 246;
	--secondary-blue: #168fe7;
	--light-blue: #f5fbff; /* 5% of primary blue */
	--primary-green: #8eb737;
	--primary-green-rgb: 142, 183, 55;
	--light-green: #ebf7ed; /* 10% of $primary-green */
	--secondary-green: #3fb34f;
	--primary-orange: #fa8700;
	--primary-orange-rgb: 250, 135, 0;
	--secondary-orange: #ffa500;
	--secondary-orange-rgb: 255, 165, 0;
	--primary-purple: #924aff;
	--border-blue: #39a1dd;
	--border-green-light: rgba(var(--primary-green-rgb), 0.3);
	--border-green-dark: rgba(var(--primary-green-rgb), 0.6);
	--border-grey: #ccc;
	--border-grey-alt: #d1d1d1;
	--border-grey-light: #e2e2e2;
	--border-grey-light-alt: #eaeaea;
	--border-red: #f35252;
	--text-red: #f2713e;
	--panel-background: #fbfbfb;
	--panel-background-rgb: 251, 251, 251;
	--panel-background-alt: #f1f1f1;
	--panel-background-blue: #f7fbfe;
	--panel-background-yellow: #fff8eb;
	--table-row-highlight: #d8d8d826;
	--annotations-menu-bg: #333333f2;
	--highlight-colors-yellow-menu: #ede619;
	--highlight-colors-yellow-hover: #f9f6af;
	--highlight-colors-yellow: rgb(249, 246, 175, 0.65);
	--highlight-colors-green-menu: #4ce67f;
	--highlight-colors-green-hover: #b7f5cc;
	--highlight-colors-green: rgb(183, 245, 204, 0.65);
	--highlight-colors-blue-menu: #3fb3f6;
	--highlight-colors-blue-hover: #cfecfd;
	--highlight-colors-blue: rgb(207, 236, 253, 0.65);
	--transparent-dark-background: rgba(35, 35, 35, 0.7);
	--correct: #9ac73c;
	--incorrect: #f35252;
	--neutral: var(--primary-blue);
	--presence-available: var(--primary-green);
	--presence-away: #ebcd25;
	--presence-dnd: var(--primary-red);
	--presence-offline: var(--secondary-grey);

	--text-color-primary: var(--primary-grey);
	--text-color-secondary: var(--secondary-grey);
	--text-color-nav-link: var(--text-color-primary);

	--color-box-shadow: rgba(0, 0, 0, 0.15);
	--box-shadow-sm: 0 1px 2px 1px var(--color-box-shadow);
}
