@import "./fonts/icomoon/variables";

$header-font-family: 'Open Sans Condensed' !default;
$body-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif !default;

//colors
$primary-grey: #494949 !default;
$secondary-grey: #757474 !default;
$tertiary-grey: #b8b8b8 !default;
$quad-grey: #f8f8f8 !default;//f9f9f9

$disabled-button-border: #d0d0d0 !default;
$disabled-button-background: rgba(184,184,184,0.5) !default;
$disabled-button-color: rgba(255,255,255,0.7) !default;

$primary-red: #F35252 !default;
$secondary-red: #750000 !default;
$error-text-color: $primary-red !default;

$primary-blue: #3fb3f6 !default;

$primary-green: #8eb737 !default;
$secondary-green: #3fb34f !default;
$light-green: #ebf7ed !default;

$primary-orange: #fa8700 !default;

$border-blue: #39a1dd !default;
$border-green-light: rgba(62, 179, 79, 0.3) !default;
$border-grey: #ccc !default;
$border-grey-alt: #d1d1d1 !default;
$border-grey-light: #e2e2e2 !default;
$border-red: #f35252 !default;
$text-red: #f2713e !default;

$panel-background: #fbfbfb !default;


$highlight-colors: (
	// (name, menu color, hover)
	('yellow',#EDE619,#F9F6AF),
	('green',#4CE67F,#B7F5CC),
	('blue',#3FB3F6,#CFECFD)
) !default;


//assessment vars
$correct: #9AC73C !default;
$incorrect: #F35252 !default;
$neutral: $primary-blue !default;
