@import "./fonts/icomoon/variables";

$header-font-family: 'Open Sans Condensed' !default;
$body-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif !default;

//colors
$primary-grey: #494949 !default;
$secondary-grey: #757474 !default;
$tertiary-grey: #b8b8b8 !default;
$quad-grey: #f8f8f8 !default;//f9f9f9

$disabled-button-border: #d0d0d0 !default;
$disabled-button-background: rgba(184, 184, 184, 0.5) !default;
$disabled-button-color: rgba(255, 255, 255, 0.7) !default;

$primary-red: #f35252 !default;
$secondary-red: #750000 !default;
$error-text-color: $primary-red !default;

$primary-blue: #3fb3f6 !default;

$primary-purple: #924aff !default;

$primary-green: #3fb34f !default;
$secondary-green: $primary-green !default;
$light-green: #ebf7ed !default; //10% of $primary-green

$primary-orange: #fa8700 !default;

$border-blue: #39a1dd !default;
$border-green-light: rgba($primary-green, 0.3) !default;
$border-green-dark: rgba($primary-green, 0.6) !default;
$border-grey: #ccc !default;
$border-grey-alt: #d1d1d1 !default;
$border-grey-light: #e2e2e2 !default;
$border-red: #f35252 !default;
$text-red: #f2713e !default;

$panel-background: #fbfbfb !default;
$panel-background-yellow: #fff8eb !default;

$transparent-dark-background: rgba(35, 35, 35, 0.7);

$highlight-colors: (
	// (name, menu color, hover)
	('yellow',#ede619,#f9f6af),
	('green',#4ce67f,#b7f5cc),
	('blue',#3fb3f6,#cfecfd)
) !default;

//assessment vars
$correct: #9ac73c !default;
$incorrect: #f35252 !default;
$neutral: $primary-blue !default;
