@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?nfu4os');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?nfu4os#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?nfu4os') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?nfu4os') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?nfu4os##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-createlarge {
  &:before {
    content: $icon-createlarge; 
  }
}
.icon-light-x {
  &:before {
    content: $icon-light-x; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-chevron-down-10 {
  &:before {
    content: $icon-chevron-down-10; 
  }
}
.icon-chevron-left-10 {
  &:before {
    content: $icon-chevron-left-10; 
  }
}
.icon-chevron-right-10 {
  &:before {
    content: $icon-chevron-right-10; 
  }
}
.icon-chevron-up-10 {
  &:before {
    content: $icon-chevron-up-10; 
  }
}
.icon-more {
  &:before {
    content: $icon-more; 
  }
}
.icon-unfollow {
  &:before {
    content: $icon-unfollow; 
  }
}
.icon-addfriend {
  &:before {
    content: $icon-addfriend; 
  }
}
.icon-friend {
  &:before {
    content: $icon-friend; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-launch {
  &:before {
    content: $icon-launch; 
  }
}
.icon-hyperlink {
  &:before {
    content: $icon-hyperlink; 
  }
}
.icon-goto {
  &:before {
    content: $icon-goto; 
  }
}
.icon-grid {
  &:before {
    content: $icon-grid;     
    color: #787878;
  }
}
.icon-list {
  &:before {
    content: $icon-list;     
    color: #787878;
  }
}
.icon-hide {
  &:before {
    content: $icon-hide; 
  }
}
.icon-view {
  &:before {
    content: $icon-view; 
  }
}
.icon-movetobottom {
  &:before {
    content: $icon-movetobottom; 
  }
}
.icon-movetotop {
  &:before {
    content: $icon-movetotop; 
  }
}
.icon-chevrondown-25 {
  &:before {
    content: $icon-chevrondown-25; 
  }
}
.icon-chevronup-25 {
  &:before {
    content: $icon-chevronup-25; 
  }
}
.icon-gripper {
  &:before {
    content: $icon-gripper; 
  }
}
.icon-movedown {
  &:before {
    content: $icon-movedown; 
  }
}
.icon-moveup {
  &:before {
    content: $icon-moveup; 
  }
}
.icon-add-fill {
  &:before {
    content: $icon-add-fill; 
  }
}
.icon-add {
  &:before {
    content: $icon-add; 
  }
}
.icon-bold {
  &:before {
    content: $icon-bold; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-duplicate {
  &:before {
    content: $icon-duplicate; 
  }
}
.icon-folder-add {
  &:before {
    content: $icon-folder-add; 
  }
}
.icon-folder {
  &:before {
    content: $icon-folder; 
  }
}
.icon-hint {
  &:before {
    content: $icon-hint; 
  }
}
.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.icon-italic {
  &:before {
    content: $icon-italic; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-move {
  &:before {
    content: $icon-move; 
  }
}
.icon-randomize {
  &:before {
    content: $icon-randomize; 
  }
}
.icon-remove {
  &:before {
    content: $icon-remove; 
  }
}
.icon-rename {
  &:before {
    content: $icon-rename; 
  }
}
.icon-reset {
  &:before {
    content: $icon-reset; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-shareto {
  &:before {
    content: $icon-shareto; 
  }
}
.icon-star-filled {
  &:before {
    content: $icon-star-filled; 
  }
}
.icon-star-outline {
  &:before {
    content: $icon-star-outline; 
  }
}
.icon-underline {
  &:before {
    content: $icon-underline; 
  }
}
.icon-unlink {
  &:before {
    content: $icon-unlink; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-whiteboard {
  &:before {
    content: $icon-whiteboard; 
  }
}
.icon-gear-menu {
  &:before {
    content: $icon-gear-menu; 
  }
}
.icon-report {
  &:before {
    content: $icon-report; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-add-image {
  &:before {
    content: $icon-add-image; 
  }
}
.icon-discuss {
  &:before {
    content: $icon-discuss; 
  }
}
.icon-bold-x {
  &:before {
    content: $icon-bold-x; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-user-list {
  &:before {
    content: $icon-user-list; 
  }
}
.icon-education {
  &:before {
    content: $icon-education; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-poll {
  &:before {
    content: $icon-poll; 
  }
}
.icon-survey {
  &:before {
    content: $icon-survey; 
  }
}
.icon-remove-user {
  &:before {
    content: $icon-remove-user; 
  }
}
.icon-add-user {
  &:before {
    content: $icon-add-user; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-more-options {
  &:before {
    content: $icon-more-options; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-reply {
  &:before {
    content: $icon-reply; 
  }
}

