$icomoon-font-path: "fonts" !default;

$icon-search: "\e801";
$icon-goto: "\e924";
$icon-grid: "\e922";
$icon-list: "\e923";
$icon-hide: "\e920";
$icon-view: "\e921";
$icon-movetobottom: "\e91e";
$icon-movetotop: "\e91f";
$icon-chevrondown-25: "\e91c";
$icon-chevronup-25: "\e91d";
$icon-gripper: "\e91b";
$icon-movedown: "\e919";
$icon-moveup: "\e91a";
$icon-add-fill: "\e901";
$icon-add: "\e902";
$icon-bold: "\e903";
$icon-delete: "\e904";
$icon-duplicate: "\e905";
$icon-folder-add: "\e906";
$icon-folder: "\e907";
$icon-hint: "\e908";
$icon-image: "\e909";
$icon-italic: "\e90a";
$icon-link: "\e90b";
$icon-move: "\e90c";
$icon-randomize: "\e90d";
$icon-remove: "\e90e";
$icon-rename: "\e90f";
$icon-reset: "\e910";
$icon-settings: "\e911";
$icon-shareto: "\e912";
$icon-star-filled: "\e913";
$icon-star-outline: "\e914";
$icon-underline: "\e915";
$icon-unlink: "\e916";
$icon-upload: "\e917";
$icon-whiteboard: "\e918";
$icon-gear-menu: "\e900";
$icon-report: "\e800";
$icon-alert: "\f101";
$icon-share: "\e602";
$icon-add-image: "\e603";
$icon-discuss: "\e604";
$icon-bold-x: "\58";
$icon-light-x: "\78";
$icon-check: "\221a";
$icon-user-list: "\e609";
$icon-education: "\e60a";
$icon-location: "\e60b";
$icon-briefcase: "\e60c";
$icon-chevron-down: "\76";
$icon-chevron-left: "\3c";
$icon-chevron-right: "\3e";
$icon-chevron-up: "\5e";
$icon-info: "\69";
$icon-poll: "\e605";
$icon-survey: "\e606";
$icon-remove-user: "\e608";
$icon-add-user: "\e601";
$icon-trash: "\e60d";
$icon-edit: "\e60e";
$icon-more-options: "\e60f";
$icon-flag: "\e610";
$icon-reply: "\e611";

